user  root;
worker_processes  auto;

events {
    worker_connections  1024;
}


http {
   
 upstream localhost{
        server {{ webapp_ip1 }}:5000;
        server {{ webapp_ip2 }}:5000;
        server {{ webapp_ip3 }}:5000;
    }
 
    server {
        server_name _;
        listen 80;
        root /;

        location /{
                        proxy_pass http://localhost/;
       }
    }
}
