user  root;
worker_processes  auto;
error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}


http {
    default_type  application/octet-stream;
    include       /etc/nginx/mime.types;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    keepalive_timeout  65;
    
    upstream backend {
        server {{ webapp_ip1 }}:5000;
        server {{ webapp_ip2 }}:5000;
        server {{ webapp_ip3 }}:5000;
    }

    server {
        listen 80;

        location / {
            proxy_pass http://backend;
            proxy_connect_timeout 300;
            proxy_send_timeout    300;
            proxy_read_timeout    300;
            proxy_redirect      http://127.0.0.1:8888 http://127.0.0.1:8889
       }
    }
}
